#head {
  color:orangered;
  font-weight: 200;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a,h1,h2,h3,h4,h5,h6,label,input{
  color:blue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#user_name{
  border: 2px solid blue;
  background-color: black;
 

}
#user_password{
  border: 2px solid blue;
  background-color: black;
 

}
#of {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#of:hover {
  overflow: visible;
}
#sup {
  color: green;
  font-family: sans-serif;
  font-weight: 300;
  background-color: rgb(6, 28, 28)
}
.card {
  background-color:rgb(218, 209, 174);
  transition: all 0.4s;
}
.card:hover {
  color:blue;
  z-index:auto;
  background-color:rgb(217, 216, 212);
  transform:scale(1.15);
}
.upload{
  z-index: 1;
  background-color:rgb(101, 142, 255);
  justify-content: space-between;
  padding: 10 20px;
  height: 40px;
  align-items: center;
  border-radius: 20px 0;
}
.whole-button{
  z-index: 1;
  height: 40px;
  width: 400px;
  position: fixed;
  bottom: -10px;
  right: 10px; 
  border-radius: 20px 0;   
}
.heading-close{
  font-size: 20px;
}
#heading-text:hover{
  cursor:pointer;
}